@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap");

.reviews {
  @include displayFlex(flex, space-between, center, column);
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: "Raleway", sans-serif;
  padding: 3.25em;
  h1 {
    color: white;
    padding: 1.25em;
  }
}

.review-section {
  @include displayFlex(flex, space-around, center, 0);
  width: 100%;
  .review-card {
    width: 25%;
    text-align: center;
    .review-text {
      line-height: 2em;
      background-color: #ffd200;
      padding: 3.25em;
    }
    .company_img img {
      width: 100px;
      margin-top: 5%;
    }
    i.fa-caret-down {
        color: #ffd200;
        font-size: 1.785em;
    }
  }
}


@media only screen and (max-width: 1000px) {
    .review-section {
        flex-direction: column;
        @include displayFlex(0, 0, 0, column);
        .review-card {
            width: 100%;
            margin-bottom: 10%;
        }
    }
}