@import "../../_general";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap");

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.75em;
  font-family: "Raleway", sans-serif;
  background-color: #F7F7F7;
  .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    .j-paragraph {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
  .cards {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card {
      padding: 2em;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
      .card-desc {
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .card-button {
        border: none;
        background: none;
        outline: none;
        background-color: #ffd200;
        font-weight: bold;
        padding: 0.625em;
        cursor: pointer;
        transition: 300ms ease-in-out;
        &:hover {
          background-color: #d6af03;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .cards {
    flex-direction: column;
    justify-content: space-around;
    .card {
      margin-top: 15%;
    }
  }
  .jumbotron {
    .text {
      font-size: 2vw;
    }
  }
}
