@import "../../_general";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap");

.jumbotron {
  @include displayFlex(flex, center, center, column);
  padding: 2.75em;
  font-family: "Raleway", sans-serif;
  background-color: #F7F7F7;
  .text {
    @include displayFlex(flex, center, flex-start, column);
    width: 100%;
    .j-paragraph {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
  .cards {
    @include displayFlex(flex, space-around, center, 0);
    margin-top: 5%;
    width: 100%;
    .card {
      @include displayFlex(flex, space-between, flex-start, column);
      padding: 2em;
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
      .card-desc {
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .card-button {
        border: none;
        background: none;
        outline: none;
        background-color: #ffd200;
        font-weight: bold;
        padding: 0.625em;
        cursor: pointer;
        transition: 300ms ease-in-out;
        &:hover {
          background-color: #d6af03;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .cards {
    flex-direction: column;
    justify-content: space-around;
    @include displayFlex(0, space-around, 0, column);
    .card {
      margin-top: 15%;
    }
  }
  .jumbotron {
    .text {
      font-size: 2vw;
    }
  }
}
