@import "../../_general";

.footer {
  @include displayFlex(flex, center, center, column);
  background-color: black;
  .upper-footer {
    @include displayFlex(flex, space-around, center, 0);
    width: 100%;
    .social-links {
      color: black;
      @include displayFlex(flex, space-around, center, 0);
      width: 20%;
      li {
        list-style: none;
        transition: 300ms ease-in-out;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 22px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .text {
      color: #fff;
      font-family: sans-serif;
    }
  }
}

.lower-footer {
  @include displayFlex(flex, center, center, column);
  width: 100%;
  margin-top: 2%;
  .footer-links {
    @include displayFlex(flex, space-around, center, 0);
    width: 30%;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
        margin-top: 5%;
        font-family: sans-serif;
      }
    }
  }
  .disclaimers {
    @include displayFlex(flex, space-around, center, column);
    p {
      color: #fff;
      font-family: sans-serif;
      margin-bottom: 5%;
      margin-top: 10%;
    }
    a {
      color: #fff;
      font-family: sans-serif;
      text-decoration: none;
      margin: 2%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .upper-footer {
    @include displayFlex(0, 0, 0, column);
    padding: 3.24em;
    .social-links {
      width: 100% !important;
      margin-bottom: 5%;
    }
    .logo {
      margin: 2%;
    }
  }
  .lower-footer {
    .footer-links {
      @include displayFlex(0, 0, 0, column);
      height: 20vh;
    }
  }
}
