@import "../../_general";
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap');

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .gps-platform {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    padding: 2.37em;
    // color: #eeeeee;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-family: 'Raleway', sans-serif;
      line-height: 2em;
      font-weight: 600;
      .platform-button {
          background: none;
          border: none;
          outline: none;
          background-color: #FFD200;
          padding: 0.625em;
          font-weight: bold;
          cursor: pointer;
          transition: 300ms ease-in-out;
          &:hover {
            background-color: #d8b000;
          }
      }
    }
  }
}


@media only screen and (max-width: 1280px) {
    .gps-platform {
        flex-direction: column;
    }
}