@import "../../_general";
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu&display=swap');

.showcase {
  @include displayFlex(flex, center, center, column);
  width: 100%;
  .gps-platform {
    @include displayFlex(flex, space-around, center, 0);
    width: 100%;
    margin-bottom: 5%;
    padding: 2.37em;
    .text {
      @include displayFlex(flex, center, flex-start, column);
      font-family: 'Raleway', sans-serif;
      line-height: 2em;
      font-weight: 600;
      .platform-button {
          background: none;
          border: none;
          outline: none;
          background-color: #FFD200;
          padding: 0.625em;
          font-weight: bold;
          cursor: pointer;
          transition: 300ms ease-in-out;
          &:hover {
            background-color: #d8b000;
          }
      }
    }
  }
}


@media only screen and (max-width: 1280px) {
    .gps-platform {
        @include displayFlex(flex, center, center, column);
    }
}