@import '../../_general';

.y-footer {
    @include displayFlex(flex, space-around, center, 0);
    width: 100%;
    margin-top: 5%;
    background-color: #FFD200;
    .y-section {
        @include displayFlex(flex, center, center, column);
        padding: 30px;
        font-family: sans-serif;
        width: 18%;
        text-align: center;
        a {
            margin-bottom: 8%;
            text-decoration: none;
            color: #000;
            font-size: 14px;
        }
        h1 {
            margin-bottom: 5%;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .y-footer {
        display: grid;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 2fr 2fr;
        .y-section {
            width: 100%;
        }
    }
}