@import "../../_general";
@import "react-slideshow-image/dist/styles.css";

.each-slide > div {
  @include displayFlex(flex, center, flex-start, column);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.each-slide .slider-header {
  padding: 20px;
  font-size: 20px;
  background: rgba($color: #000, $alpha: 0.5);
  color: #fff;
  font-family: sans-serif;
  font-size: 4vw;
  margin-left: 5%;
  margin-bottom: 2%;
  animation: fadeIn 1s;
}

.slider-paragraph {
  font-size: 2vw;
  padding: 20px;
  font-size: 20px;
  background: rgba($color: #000, $alpha: 0.5);
  color: #fff;
  font-family: sans-serif;
  font-size: 2vw;
  margin-left: 5%;
  animation: fadeIn 1s;
}

.client-button {
  margin-left: 5%;
  padding: 0.425em;
  background: none;
  outline: none;
  border: none;
  background-color: #ffd200;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
    transform: translateX(100%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {
  .each-slide .slider-header {
    font-size: 6vw;
  }

  .slider-paragraph {
    font-size: 3vw;
  }

  .client-button {
    font-size: 4vw;
  }
}